.aboutus__wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 90vh;
    padding: 64px 0;
}
.aboutus__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutus__wrapper h1 {
    padding: 32px;
    font-size: 28px;
}
.aboutus__wrapper p {
    font-size: 32px;
    line-height: 2;
}
@media (max-width: 756px) { 
    .aboutus__wrapper h1 {
        font-size: 22px;
    }
    .aboutus__wrapper p {
        font-size: 18px;
    }
}