.benefits__wrapper {
    min-height: 80vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 64px;
}
.benefit__container {    
    align-items: center;
    justify-content: center;
}
.benefits__wrapper p {
    font-size: 32px;
    line-height: 2;
    text-align: center;
}
.benefits__wrapper h1 {
    text-align: center;
    font-size: 42px;
}
@media (max-width: 768px) { 
    
.benefits__wrapper h1 {
    font-size: 28px;
}
.benefits__wrapper p {
    font-size: 18px;
}
}
@media (max-width: 550px) { 

    .benefits__wrapper h1 {
        font-size: 18px;
    }
    .benefits__wrapper p {
        font-size: 14px;
    }
}