.landing__container {
    background-color: #000000;
    width: 100vw !important;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;        
}

.products {
  padding: 16px;
  background: rgba(0, 0, 0, 0.336);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  padding: 64px;
}
.left, .right {
    color: white;
    font-size: 32px;
}
::-webkit-scrollbar {
    display: none;
}


@media (max-width: 768px) { 
    .products__title {
        font-size: 28px;
    }
    .product__image {
        max-height: 250px !important;
        overflow-y: hidden;
    }

}