.landing__container {
    background-color: #0d0b24;
    width: 100vw;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    

    
}
.popular__products {
    padding: 32px 0;
}
.products {
  border: 2px solid rgba(0, 255, 0, 0.712);
  padding: 16px;
  box-shadow: rgba(255, 255, 255, 0.288) 0px 0px 40px 0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 80vw;
}
.products__title {
    color: rgb(253, 0, 0);
    text-decoration: underline;
    font-size: 48px;
    padding: 62px;
}
.left, .right {
    color: white;
    font-size: 32px;
}
::-webkit-scrollbar {
    display: none;
}


@media (max-width: 768px) { 
    .landing__container {
        width: 100vw;
    }
    .products__title {
        font-size: 28px;
    }

}