.states__wrapper {
    width: 100%;
    height: 100%;
    padding: 128px;
}
.states__wrapper p {
    text-align: center;
    font-size: 32px;
    line-height: 2;
}
@media (max-width: 756px) { 
    .states__wrapper p {
        font-size: 20px;
    }
    .states__wrapper {
        width: 80%;
        padding: 64px 16px;
    }
}