.wholesale__container {
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.wholesale__wrapper img {
    width: 40%;
    padding: 32px;
}
.wholesale__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wholesale__link {
    cursor: pointer;
    color: rgba(0, 255, 0, 0.712);
}
.wholesale__wrapper h1 {
    padding: 32px;
    font-size: 32px;
}
.wholesale__wrapper p {
    font-size: 24px;
    padding: 12px 0;
    text-align: center;
}
@media (max-width: 756px) {
    .wholesale__wrapper h1 { 
        font-size: 22px;
    }
    .wholesale__wrapper p {
        font-size: 18px;
    }
    .wholesale__wrapper {
        width: 80%;
    }
}
