.wholesale__container {
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.wholesale__wrapper img {
    width: 30%;
    padding: 3px;
    border-radius: 2px;
}
.wholesale__image {
    box-shadow: rgb(1, 250, 1) 5px 5px 30px 0.5px;

}
.wholesale__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slide__wholesale {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wholesale__link {
    cursor: pointer;
    color: rgba(0, 255, 0, 0.712);
}
.wholesale__wrapper h1 {
    padding: 32px;
    font-size: 32px;
    text-align: center;
}
.wholesale__wrapper p {
    font-size: 24px;
    padding: 12px 0;
    text-align: center;
}
@media (max-width: 756px) {
    .wholesale__wrapper h1 { 
        font-size: 22px;
    }
    .wholesale__wrapper p {
        font-size: 18px;
    }
    .wholesale__wrapper {
        width: 80%;
    }
}
