.contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.contact-form, .contact-form input {
    width: 100% !important;
}
.contact_link {
    padding-right: 32px;
}
.contact_link:hover {
    color: rgba(0, 255, 0, 0.712);
}
.times__button {
    position: absolute;
    font-size: 32px;
    top: 0;
    right: 0;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding-right: 8px;
}
.times__button:hover {
    color: #e50914;
}
.contact__button {
    position: relative;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 14px;
    border-color: white;
}
.contact__button:hover {
    background-color: white;
    color: black;
}
.contact-form {
    position: relative;
    width: 100%;
    max-width: 850px;
    background: rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 24px;
    margin: auto;
    background-image: linear-gradient(120deg, rgba(5, 61, 3, 0.699), rgba(3, 114, 3, 0.384));
    backdrop-filter: blur(10px);
    background-size: 10px;
    border: 2px solid green;
}
.contact-form h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}
.contact__text {
    background: #333;
    width: 100%;
    height: 30vh;
    padding: 16px 20px;
    margin: 12px 0;
    color: white;
    border: 2px solid rgba(0, 255, 0, 0.712);
}

.contact-form input {
    width: 100%;
    height: 50px;
    background: #333;
    color: white;
    border: 2px solid rgba(0, 255, 0, 0.712);
    margin: 12px 0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
}
.contact__text:focus {
    
    border: 2px solid rgba(0, 255, 0, 0.712) !important;
}
.contact-form input::placeholder, .contact__text::placeholder {
    font-size: 16px;
    font-weight: 500;
}
.contact__submit {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: linear-gradient(to bottom, rgb(145, 255, 1), rgb(3, 185, 12));
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0 0 0;
    cursor: pointer;
    
}
.contact__submit--disabled {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: rgba(0, 97, 0, 0.712);
    color: rgb(114, 114, 114);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0 0 0;
    cursor: not-allowed;
}
.contact__submit:hover {
    color: black;
    background: linear-gradient(to bottom, rgb(98, 248, 98), rgb(194, 245, 173));
}
@media (max-width: 550px) { 
    .contact-form h1 {
        font-size: 18px;
    }
}