.nav__container {
    background-image: url(
"https://cdn11.bigcommerce.com/s-qsp8zkqq0s/images/stencil/original/image-manager/aaa-weed-kitta-long.jpg?t=1720920697"
    );
    background-size: cover;
    height: 10vh;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.568);
}
.logo__container {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 100px;
}
.logo__text {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 16px;
    margin-left: 12px;
    padding: 4px;
    border: 5px solid rgba(0, 255, 0, 0.712);
    border-radius: 6px;
    text-align: center;
}
.wholesale {
    width: 250px;
    top: 125px;
    height: 175px;
    position: absolute;
    left: 0;
    transform: rotate(-30deg);
    cursor: pointer;
    animation: rotateHalf 8500ms infinite ease-in-out;
}
.nav_link:hover { 
    color: rgba(0, 255, 0, 0.712);
}
.links {
    display: flex;
    gap: 32px;   

}
.nav__wrapper {
    display: flex;
    width: 85vw;
    align-items: center;
    justify-content: center;
}
.nav__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 48px;
    position: relative;
    margin-left: 8px;
}
.nav__icon:hover {
    color: rgba(0, 255, 0, 0.712);
}
.about_dropdown, .admin_dropdown {
    position: absolute;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;

}
.admin_dropdown p {
    font-size: 26px;
}
.admin_dropdown h1 {
    text-decoration: underline;
    font-size: 28px;
    margin-bottom: 48px;
    font-weight: bold;
}
.admin {
    margin-right: 48px;
}
.nav_link p:hover {    
    color: rgba(0, 255, 0, 0.712);
}
.about, .home {
    padding-right: 32px;
}

.about_dropdown p {
    font-size: 24px;
    cursor: pointer;
    padding: 18px 22px;
}
.nav_link {
    cursor: pointer;
    color: rgb(30, 255, 0);
    position: relative;
    font-size: 32px;
    text-wrap: nowrap;
    padding-right: 32px;
}
.admin:hover .admin_dropdown {
    display: block;
    color: rgba(0, 255, 0, 0.712);
}

.about:hover .about_dropdown {
    display: block;
}
.sb__link {
    padding-bottom: 18px;
}

.sb__link:hover {
    color: rgba(0, 255, 0, 0.712);
}

  @media (max-width: 768px) {
    .logo__text {
        font-size: 14px;
        border: 6px solid rgba(0, 255, 0, 0.712);
        border-radius: 8px;
    }
    .link {
        font-size: 16px;
    }
    .nav__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 10vh;
    }
    .nav__icon { 
        font-size: 18px;
    }
    .cart__length {
        font-size: 8px;
        width: 9px;
        height: 9px;
    }
    .links {
        gap: 16px;
    }
    .contact {
        display: none;
    }
    .logo__container { 
        width: 25%;
    }
  }