.return__header {
    color: black;
    font-size: 32px;
    text-align: center;
    margin: 240px 0px 0px 0px;
}
.return__paragraph {
    margin: 64px;
    color: black;
    font-size: 22px;
    text-align: center;
}
.return__body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (maxwidth: 756px) {
    .return__header {
        font-size: 18px;
        margin: 32px;
    }
    .return__paragraph { 
        font-size: 16px;
        margin: 12px;
    }
    .continue__browsing {
        width: 300px;

    }
}