.sb__container {
    background-image: url(
"https://cdn11.bigcommerce.com/s-qsp8zkqq0s/images/stencil/original/image-manager/aaa-weed-kitta-long.jpg?t=1720920697"
    );
    background-size: cover;
    width: 15vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.sb__links {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 28px;
    font-weight: bold;
    gap: 90px;
    padding-left: 24px;
}
.thca {
    border: 15px solid white;
    width: 10vw;
}