.components {
  display: flex;
}
.shadoww {
  text-shadow:
  0px -1px 0 #fff,  
   1px 0px 0 #fff,
   0px 0px 0 #fff,
    0px 1px 0 #fff;
}
.split {
  display: flex;
}
.filler {
  width: 15vw;
  display: flex;
}
.main {
  display: flex;
}
.page__wrappers {  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}