.components {
  display: flex;
}
body {
  background-color: rgb(12, 58, 0);
}
.shadoww {
  text-shadow:
  0px -1px 0 #fff,  
   1px 0px 0 #fff,
   0px 0px 0 #fff,
    0px 1px 0 #fff;
}
.split {
  display: flex;
}
.main {
  display: flex;
}
.page__wrappers {  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
.fa-spinner {
  animation: rotate 600ms infinite linear;
}
.login-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 98px;
}

@keyframes rotate {
  0% { 
      transform: rotate(0)
  }
  100% {
      transform: rotate(360deg)
  }
}
@keyframes rotateHalf {
  0% { 
      transform: rotate(0);
      opacity: .4;
  }
  50% {
      transform: rotate(-30deg);
      opacity: 1;
  }
  100%{
    transform: rotate(0);
    opacity: .4;
  }
}