.popular__products {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product:hover {
  transform: scale(125%);
  z-index: 100;
}
.product__name {
  font-size: 24px;
  background: linear-gradient(to bottom, rgb(151, 255, 165), white);
  background-clip: text;
  color: transparent;
}
.product__image {
  width: 60%;
  max-height: 350px;
  box-shadow: rgba(255, 255, 255, 0.274) 0px 0px 40px 0.2px;
}
.img__wrapper {
  max-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product {
  background-color: #1eff002f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 255, 0, 0.712);
  border-radius: 4px;
  gap: 12px;
  width: 250px;
  height: 350px;
  box-shadow: rgb(1, 250, 1) 5px 5px 60px 0.5px;
}
.product__strain {
  text-decoration: underline;
  padding: 2px;
  font-size: 12px;
}
.product__price {
  
  background: linear-gradient(to bottom, rgb(151, 255, 67), white);
  background-clip: text;
  color: transparent;
}
.strain__container {
  display: flex;
  gap: 6px;
  overflow-x: scroll;
  overflow: hidden;
}
.price__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.product__title {
  font-size: 18px;
  text-align: center;
  width: 60%;
  z-index: 5;
  background: linear-gradient(to bottom, rgb(1, 255, 35), white);
  background-clip: text;
  color: transparent;
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none;
}

@media (max-width: 768px) {
  .product {
    width: 250px;
    height: 300px;
  }
  .product__title {
    font-size: 12px;
  }
  .product__name {
    font-size: 18px;
  }
  .product__price {
    font-size: 18px;
  }
  .product__grams {
    font-size: 12px;
  }
}
