.popular__products {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product__name {
  font-size: 24px;
}
.product__image {
  width: 60%;
  max-height: 350px;
}
.img__wrapper {
  max-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  gap: 12px;
  width: 325px;
  height: 350px;
}
.product__strain {
  text-decoration: underline;
  padding: 2px;
  font-size: 12px;
}
.strain__container {
  display: flex;
  gap: 6px;
  overflow-x: scroll;
  overflow: hidden;
}
.price__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.product__title {
  font-size: 18px;
  text-align: center;
  width: 60%;
  z-index: 5;
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none;
}

@media (max-width: 768px) {
  .product {
    width: 250px;
    height: 300px;
  }
  .product__title {
    font-size: 12px;
  }
  .product__name {
    font-size: 18px;
  }
  .product__price {
    font-size: 18px;
  }
  .product__grams {
    font-size: 12px;
  }
}
